/*
 * General/Utility Styles
*/

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

body {
  margin: 0;
  background: #FFFF
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1rem;
  color: rgb(86, 90, 92);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  font-weight: bold;
  color: rgb(255, 89, 95);
  text-decoration: none;

}

strong {
  font-weight: 600;
}

h1 {
  font-weight: bolder;
  font-size: 2em;
}

hr {
width:100%;
text-align:left;
margin-left:0;
}

/*
 * Header and hero Styles
*/
header {
  background: #FFFF;
}
header.logo {
  border-right: 2px solid #DCE0E0;
}


.hero img {
  width: 100%;
  object-fit: cover;
  max-height: 600px;
}

/*
 * Container Styles
*/

.container {
  max-width: 100%;
  margin: 60px;
  background: #FFFF;

}


/*
 * Info Section Styles
*/
.info {
    background: #FFFF;
    text-align: center;
    padding: 25px;

}


.info .owner-details {
  padding: 15px;
}


.info .owner-details img {
  border-radius: 40%;
  max-width: 85px;
}

.info h2.relationship, .info h2.name {
  color: 909597;
  line-height: 25px;
}

.info h2.name {
  font-weight: bold;
}

h1 {
  font-size: 22px;
  color: #666A6C;
  padding: 10px;

}

p.location {
  line-height: 15px;
  font-size: 1.05em;
}

.info .icon {
  float:left;
  width: 33.3%;
  line-height: 25px; 
  padding-top: 25px;
}

.info .booking h2 {
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
  padding: 25px;
}


/*
 * About Section Styles
*/

.column {
  float: left;
}

.about {
    background: #FFFF;
    font-size: 1.05em;
    margin: 60px;
    text-align: left;
    
  }

.about .summary {
  text-align:;
  padding: 25px;
  line-height: 20px;
}

.about .summary h2 {
  font-weight: bold;
  line-height: 50px;
  

}

.about .contact a {
  padding: 25px;
  margin-bottom: 50px;
  
}

.about .contact img {
  width: 2%;

  

}

.about .care p {
  padding: 25px;
  float: left;
  line-height: 20px;
}


.about .care-details ul {
  list-style-type: none;
  padding: 25px;
  line-height: 30px;
}

.about .games p {
  padding: 25px;
  line-height: 20px;
  float: left;

}

.about .games-details ul{
  list-style-type: none;
  padding: 25px;
  line-height: 30px;

}



/*
 * Gallery Section Styles
*/

.gallery {
  padding: 25px;
  background: #FFFF;
}
.gallery .photo img {
  float: left;
  width: 450px;
  height: 350px;
  padding: 25px;
}



/*
 * Button styles
*/

.button {
  background: rgb(255, 89, 95);
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid rgb(227, 25, 29);
  border-radius: 2px;
  width: 65%;
  margin: 0 auto;
}


/*
 * Responsive Styles
*/
@media only screen and (max-width: 1060px) {

.container {
  width: 100%;
  margin: 0 auto;
}

.hero img {
  width: 100%;
  object-fit: cover;
 
}
  .column{
  float:left;
}

.info {
  margin: 0 auto;
}
.about {
  margin: 0 auto;
}
.info .profile {
 width: 660px;
 margin: 0 auto;
}

.info .booking {
  width: 380px;
}

 .button {
 width: 275px;
 margin: auto;
 }

 .info h1 {
 margin-bottom: 3px;
 }

 .info h2 {
 margin-bottom: 3px;
 }

 .info .location {
  margin-left: 11px;
 }

 .info .profile {
 width: 550px;
 border-right: 1px solid #DCE0E0;
 }

 .info .booking {
 width: 380px;
 }

 .info .owner-details {
 width: 20%;
 }

} 
